* body {
    text-align: center;
    font-family: "futura-serif";
    color: #146064;
}

@font-face
{
font-family: "futura";
src: url(“images/font.ttf”);

h1 {
  text-align: center;
  margin-top: 5%;

}

