* body {
    text-align: center;
    font-family: 'Sans', 'Trebuchet MS', sans-serif;
    color: #146064;
    
}

h1 {
  text-align: center;
  margin-top: 5%;

}

.login-input {
    background-color:#ffffff;
    border: none;
	border-radius:10px;
    cursor: text;
    font-family: 'Sans', 'Trebuchet MS', sans-serif;
	color: #ADE7EA;
	font-size:17px;
	font-weight: lighter;
	padding:8px 76px;
    text-decoration:none;
    align-items: center;
  }

  .btn-btn-action {
    background-color: #CBF9F5;
    border-radius: 15px;
    cursor: pointer;
    padding: 7px 30px;
    font-size: 14px;
    height: 40px;
  }

  .button-google {
      cursor: pointer;
  }

  .button-github {
      cursor: pointer;
  }

  .contenedor-azul {
    height: 70vh;
    width: 70vw;
    overflow: auto;
    background-color: #FEFD00;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}




